{
    "env": {
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "ignorePatterns": [
        "node_modules/**/*",
        "build/**/*"
    ],
    "extends": [
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react-hooks/recommended",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "@typescript-eslint/no-non-null-assertion": 0,
        "@typescript-eslint/no-unused-vars": [
            1,
            {
                "varsIgnorePattern": "_"
            }
        ],
        "react/react-in-jsx-scope": 0,
        "react/jsx-closing-bracket-location": [
            1,
            "line-aligned"
        ],
        "react-hooks/exhaustive-deps": 0
    }
}